*{'@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
    font-family: 'Poppins', sans-serif;'
}

.container{
    width: 1450px;
}

.about-us{
    border-radius: 10px;
    padding-left:20px ;
    padding-right:20px ; 
    background-color:#FFF5D9;
    color: #FFBB00;
    border-style: none;
}

.header .under{
    position: absolute;
    top: -700px;
    right: -150px;
    z-index: -900;
}

.header .övre{
    position: absolute;
    top: -700px;
    right: -150px;
    z-index: -11;
}
/* navbar */
.navbar .container {
    padding-left: 9.4rem;
    padding-right: 7.1rem;
    height: 170px;
}

.navbar{
    
   color:white;
   font-weight: 30px;
}
.f2 p{
    margin-top: 15px;
    color: white;
    
}

.f2 button{
 color: white;
    opacity: 70%;
    border-radius: 15px;
    padding-left:40px ;
    padding-right:40px ;
    padding-top: 15px;
    padding-bottom: 15px;
   margin-right: 10px;
    font-size: 1rem;
    border-style: none;
   background-color: transparent;
   border: white 2px solid;
}
.navbar button{
    background-color: #FFBB00;
    color:white; 
    border-radius: 15px;
    padding-left:40px ;
    padding-right:40px ;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 55px;
    font-size: 1rem;
    border-style: none;}
    
.nav-item{
    font-size: 1.1rem; 
    margin-left: 20px;
    margin-right: 20px;
    
}
.nav-link{
    color: white;
    font-weight: 10px;
}
/* showcase */
.f1{
    padding-left: 30px;
    position: absolute;
     width: 600px;
    height: 340px;
    top:400px;
    right: 900px;
    color: white;
   ' /* font-family: 'Poppins', sans-serif;' */
}
.f1 h1{
    font-size: 57px;
}
.f1 p{
    font-size: 15px;
}

.bilder .bild1{
    border-radius: 15px;
    
    position: relative;
    top: 10px;
    right: -1000px;
}
.bilder .bild2{
    border-radius: 15px;
    
    position: relative;
    top: 100px;
    right:-550px;
    
    
}
/* ec-logga */
.ec{
    justify-content: space-between;
    margin-top: 350px;
    margin-bottom: 100px;
   padding-left: 60px;
}
/* showcase2 */
.showcase2 {
    padding-bottom: 70px;
}
.showcase2 img{
    padding-right: 300px;
}
.texter h1{
    
    padding-right: 200px;
}
.texter p{
    padding-right: 120px;
}
.texter button{
    
    padding-top: 10px;
    padding-bottom: 10px;
    border-style: none;
}


.button-socialamedier{
    border-radius: 10px;
    padding-left:40px;
    padding-right:40px; 
    
}
.button-socialamedier i{
    position:relative;
    top:20px;
    left:-30px;
    justify-content: left;
    font-size: 34px;
}
.button-socialamedier span{
   position: relative;
   top: 0%;
   right:20px;
   font-size: 14px;

}
.button-socialamedier h5{
    position: relative;
    top: 0%;
    left:10px;
    
 }
 /* showcase 3 */
.f3{
    height: 700px;
    width: 50%;
    
}
 .f3 p{
     margin-top: 7px;
    margin-right: 30px;
 }
 .f3, .about-us, h1{
     margin-top: 20px;
     margin-right:100px;
 }
 .kort{
   padding-top: 40px;
     display: grid;
     grid-template-columns: 60px 60px;
     grid-template-rows: 60px 60px;
    row-gap: 100px;
    column-gap: 200px;
    
 }
 .kort button{
     padding-left: 20px;
     padding-right: 20px;
     padding-top: 20px;
     padding-bottom: 20px;
     background-color: #FFF5D9;
     border-radius: 10px;
     height: 50%;
     border: none;
 }
 .kort i{
    font-size:80px;
    
 }
 .kort1 h1{
     margin-left: 20px;
     font-size: 14px;
     margin-top: -200;
     margin-bottom: 0;
 }
 .kort1 p{
    margin-left: 20px;
    font-size: 10px;
}
.f4{
    position: relative;
   top:-630px;
   right: -700px;
}
.f4 .bild1{
position: relative;
top:70px;
left:150px;
transform: rotate(-35deg);

}
.f4 .bild2{
    position: relative;
    top:30px;
    left:0px;
    
}
.f4 .bild3{

    position: relative;
    top:50px;
    left:-410px;
    z-index: -200;
    
}
.något{

    text-align: center;
    height: 200px;
}
.showcase4{
    gap: 50px;
    justify-content: center;
}