*{ '@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
    font-family: 'Poppins', sans-serif;'
}

.about-us{
    border-radius: 10px;
    padding-left:20px ;
    padding-right:20px ; 
    background-color:#FFF5D9;
    color: #FFBB00;
    border-style: none;
}

.header .under{
    position: absolute;
    top: -700px;
    right: -150px;
    z-index: -900;
}

.header .övre{
    position: absolute;
    top: -700px;
    right: -150px;
    z-index: -11;
}
/* navbar */
.navbar .container {
    padding-left: 9.4rem;
    padding-right: 7.1rem;
    height: 170px;
}

.navbar{
    
   color:white;
   font-weight: 30px;
}

.navbar button{
    background-color: #FFBB00;
    color:white; 
    border-radius: 15px;
    padding-left:40px ;
    padding-right:40px ;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 55px;
    font-size: 1rem;
    border-style: none;}
    
.navbar .nav-item{
    font-size: 1.1rem; 
    margin-left: 20px;
    margin-right: 20px;
    
}
.navbar .nav-link{
    color: white;
    font-weight: 10px;
}
/* showcase */
.f1{
    padding-left: 30px;
    position: absolute;
    width: 600px;
    height: 340px;
    top:400px;
    right: 900px;
    color: white;
}

.f1 h1{
    font-size: 57px;
}
.f1 p{
    font-size: 15px;
}
.f2 p{
    margin-top: 15px;
    color: white;
    
}

.f2 button{
 color: white;
    border-radius: 15px;
    padding-left:40px ;
    padding-right:40px ;
    padding-top: 15px;
    padding-bottom: 15px;
   margin-right: 10px;
    font-size: 1rem;
    border-style: none;
   background-color: transparent;
   border: white 2px solid;
}
.bilder .bild1{
    border-radius: 15px;
    
    position: relative;
    top: 10px;
    right: -1000px;
}
.bilder .bild2{
    border-radius: 15px;
    
    position: relative;
    top: 100px;
    right:-550px;
    
    
}
/* ec-logga */
.ec{
    justify-content: space-between;
    margin-top: 350px;
    margin-bottom: 100px;
   padding-left: 60px;
}
/* showcase2 */
.showcase2 {
    padding-bottom: 70px;
}
.showcase2 img{
    padding-right: 300px;
}
.texter h1{
    
    padding-right: 200px;
}
.texter p{
    padding-right: 120px;
}
.texter button{
    
    padding-top: 10px;
    padding-bottom: 10px;
    border-style: none;
}


.button-socialamedier{
    border-radius: 10px;
    padding-left:40px;
    padding-right:40px; 
    
}
.button-socialamedier i{
    position:relative;
    top:20px;
    left:-30px;
    justify-content: left;
    font-size: 34px;
}
.button-socialamedier span{
   position: relative;
   top: 0%;
   right:20px;
   font-size: 14px;

}
.button-socialamedier h5{
    position: relative;
    top: 0%;
    left:10px;
    
 }
 /* showcase 3 */
 /* .showcase3{
     background-color: #FCFCFC;
     z-index: -1000;
 } */
.f3{
    height: 700px;
    width: 50%;
    
}
 .f3 p{
     margin-top: 7px;
    margin-right: 30px;
 }
 .f3, .about-us, h1{
     margin-top: 20px;
     margin-right:100px;
 }
 .kort{
   padding-top: 40px;
     display: grid;
     grid-template-columns: 60px 60px;
     grid-template-rows: 60px 60px;
    row-gap: 100px;
    column-gap: 200px;
    
 }
 .kort button{
     padding-left: 20px;
     padding-right: 20px;
     padding-top: 20px;
     padding-bottom: 20px;
     background-color: #FFF5D9;
     border-radius: 10px;
     height: 50%;
     border: none;
 }
 .kort i{
    font-size:80px;
    
 }
 .kort1 h1{
     margin-left: 20px;
     font-size: 14px;
     margin-top: -200;
     margin-bottom: 0;
 }
 .kort1 p{
    margin-left: 20px;
    font-size: 10px;
}
.f4{
    position: relative;
   top:-630px;
   right: -700px;
}
.f4 .bild1{
position: relative;
top:70px;
left:150px;
transform: rotate(-35deg);

}
.f4 .bild2{
    position: relative;
    top:30px;
    left:0px;
    
}
.f4 .bild3{

    position: relative;
    top:50px;
    left:-410px;
    z-index: -1;
    
}
/* något */
.något{

    text-align: center;
    height: 200px;
}
/* showcase4 */
.showcase4{
    position: relative;
    top:0px;
    right: 0px;
    gap: 50px;
    justify-content: center;
   
}
/* showcase5 */
.showcase5{
   margin-top: 100px;
   
    
}
.showcase5 img{
    position: relative;
    top: 0px;
    left: 200px;
    justify-content: center;
}
.showcase5> h1{
    
    position: absolute;
    top: 3700px;
    right: 35%;
}
.showcase5 >p{
    text-align: center;
    padding-right: 650px;
    padding-left: 700px;
    position: absolute;
    top: 3770px;
    right: 2%;
}
.summa{
    justify-content: space-between;
    position: absolute;
    top: 3850px;
    right: 260px;
}
.summa p{
   position: relative;
   top:0;
   left: 55px;
}
.summa h1{
    font-weight: 20px;
   color: #1487fd; ;
 }
 /* showcase6 */
 .showcase6{
     height: 500px;
     background-color: #1487fd;
 }
 .F{
     position: relative;
     top: -250px;
     left:-300px;
    }

     .iphone{
         position:absolute;
         top:20px;
         left:1200px;
     }
     .iphone1{
        position:absolute;
        top:20px;
        left:1000px;
    }
    .iphone2{
        position:absolute;
        top:0px;
        left:1100px;
    }
    .iphone, .iphone1, .iphone2{
        z-index: 2;
    }
    .skikt{
        padding-right: 900px;
        position:absolute;
        top:4150px;
        left:300px;

    }
    /* contact */
    .contact{
        z-index:3; 
        position: relative;
       background-color: white; 
       margin-top: -20px;
    }
    
    .contact h1{
       display: flex;
        align-items: center;
        justify-content: center;
        
    }
    .contact p{

          padding-right: 720px;
          padding-left: 630px;
         display: flex;
         text-align: center;
        align-items: center;
        justify-content: center;
      }
      #grid{
         display: flex;
         justify-content: center;
          display: grid;
          grid-template-columns: 550px 550px;
          grid-template-rows:75px 230px;
          column-gap: 40px;
          margin-top: 100px;
          
          color: #CCCCCC;
          
        }
      #grid h1{background-color:#FBFBFB;
          font-size: 20px;
          gap: 20px;
          border-radius: 10px;
          
      }
       .c{background-color:#FBFBFB;
        grid-column: 1/-1;}
        .c h1{
            display: flex;
            align-items: flex-start;
        }
      
      
      /* navbar2 */
      .navbar2{
          margin-top: 100px;
          height: 300px;
          margin-top: 150px;
          background-color:#1487fd;
        text-align: center;
      }
      .navbar2 .nav-link{
          color: white;
        position: relative;
        left: -320px;
      
        font-weight:900;
        font-size: 1.7rem;
        font-family: 'Poppins', sans-serif;
       
    }
    .social-media{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        color: #5BACFE;
        gap:27px;

    }
    