   
  
  .container {
    background:rgb(214, 198, 180); ;
    font-size: 22px;
}

}
}
.bg -info container {
  background:wheat; ;
}
   #css-body-id {
        background: rgba(247, 255, 140, 0.678);
        background-image: url(https://firstvet.com/uploaded/images/articles/cat-leg-lame.jpg) !important; 
        background-size: 100%;
        
    }
    .css-body-class{
        background:green;
        text-align: center;

    }
    span{ 
        
        
        font-size: 42px;
        color: azure;
     }
    

     .border {
    color: azure;
   }
   