*{
    
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
.box{
    padding: 1rem;
    text-align: center;
    
    }
#box1{
    grid-area: a;
    background-color: green;
}
#box2 {
    background-color: blue;
    grid-area: b;
}
#box3 {
    background-color: green;
    grid-area: c;
}
#box4 {
    background-color: blue;
    grid-area: d;
}
#box5 {
    background-color: green;
    grid-area: e;
}
.css-grid{
    display: grid;
    /* grid-template-columns: 50% 50% 50%;
    grid-template-rows: 50% 50% ; */
    grid-template-areas:"a a b"
                        "d d b" 
                        "e e c";
    gap: 10px;

   
}
