@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html, body {
   background-color: #f7f7f7;
   color:#626262;
   font-family:'Roboto', sans-serif;
    }
   
#tidspanel{
    border-bottom: 1px solid;
    border-color: #aaaa;
    
}
#working-hours i{
    font-size: 1.3rem !important;
}
#working-hours i, .social-media{
    
    color: #2baaec;
    font-size: 1rem;
}
#working-hours, .social-media i{
    
    margin-left: 1.7rem;
}
.fa-google-plus-g{
    color: #25e6c8 !important;
}

.navbar-top {
    background-color: white;
    padding: 0.6rem 0;
    margin-top: 1px;
}


.navbar-top i {
    font-size: 1.2em;
}

.navbar-nav .nav-item {
    margin-left: 1.4rem;
    font-size: 1.2rem;
    color: green;
    
}
.nav-link:hover {
    color: #25e6c8 !important;
}


.navbar-light .navbar-nav .nav-link{
    color: #626262 !important;
}

#sektion3{
   
    background-color: lightgrey;
}

    


.sektion3-item{
    display:flex; 
    align-items: center;
    
}

.text1 h1{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 60px;
}
.text1 p{
    font-size: 18px;
    margin-top: 45px;
    margin-right: 18px;
    margin-bottom: 18px;
}
.btn-info{
    background-color: #25e6c8 !important;
    
}
.sektion3 button {
    padding-right: 100px;
    margin-left: 100px;
}
    
.sektion4{
    
    /* padding: 2rem 0; */
    
}

.sektion4-item{
  
    
}

    .text11{
       margin-left: 100px;
        font-size: 1px;
        text-decoration: underline #25e6c8;
    }
    .text22{
        margin-right: 100px;
        margin-top: 60px;
        font-size: 10px;
    }
    .col{
        background-color: lightgrey;
    }

    .sektion5{
        padding: 20px 20px 20px 20px;
    }
    .text4{
        text-align: center;
        font-family: Georgia, 'Times New Roman', Times, serif;
        text-decoration: underline #25e6c8;
        
    }
    .sektion6{
        height: 800px;
        display: grid;
        background-color: white;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 350px 350px 350px;
        
      }

    

    .rubrik{
        text-align: center;
        font-size: 16px;

    }
    .undertext {
        font-size: 14px;
        text-align: center;
        margin-left: 90px;
        margin-right: 90px;
    }
    .to{
        margin-left: 115px;
        margin-top: 16px;
    }
    
    
   
    .sektion7{
        text-align: center;
        background-color: lightblue;
        font-size: 15px;
        color:white;
    }
    .btn{
        margin-left: 67%;
        
    }
    .slut{
        text-align: center;
        font-size: 10px;
        background-color: rgb(110, 168, 187);
        color:white;
        
    
    }