* {
    /* box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
    margin:0;
    padding: 0; */
}



html, body {
   background-color: lightgrey;
    }
   
}
.border {
    border: 1px solid ;
    border-spacing: 15px;
}
.container {
    width: 100%;
    padding-left: auto;
    padding-right: auto;
    margin-left: auto;
    margin-right: auto;
    
}

.fa-clock, .social-media{
    
    align-items:flex-start;
    justify-content: space-between;
    color: lightblue;
}


.navbar-top {
    background-color: white;
    padding: 0.6rem 0;
    margin-top: 1px;
}

.navbar-top-items {
    display:flex; 
    justify-content: space-between;
    align-items: center;
}

.navbar-top-items i {
    font-size: 1.2em;
}
.sektion2 { 
    background-color: white;
   width: 100%;
    padding-left: 7%;
    padding-right: 7%;
    margin-left: auto;
    margin-right: auto;
}


.sektion3{
    width: 100%;
    padding: 2rem 0;
    
}

.sektion3-item{
    display:flex; 
    align-items: center;
    
}
.fa-female{
    font-size: 400px;
    margin-left: 20%;
    }
    .textrutan{
        display: flex;
        align-items: center;
       
    }
    
    .text1{
        margin-left: 30px;
        font-size: 30px;
    }
    .text2{
        margin-top: 50px;
        margin-right: 100px;
        font-size: 10px;
    }
    .btn1{
        margin-top: 200px;
    }

.sektion4{
    background-color: white;
    padding: 2rem 0;
    
}

.sektion4-item{
    display:flex; 
    justify-content: space-between;
    
}
.fa-male{
    font-size: 400px;
    float: left;
    position: relative;
    margin-right: 20%;
    }
    .textrutan1{
       
    }
    .text11{
       margin-left: 700px;
        font-size: 30px;
        text-decoration: underline b;
    }
    .text22{
        margin-right: 400px;
        margin-top: 60px;
        font-size: 10px;
    }
    .col{
        background-color: lightgrey;
    }
    .card{
        
        margin-left: 20%;
        margin-top: auto;
        margin-bottom: auto;
        margin-right: auto;
    
        padding: auto;
        align-items: center;
        font-size: 10px;
        width: 300px; 
        
    }
    .card-body{
        
    }
    .card-title{
        text-align: center;
    }
    .sektion5{
        padding: 20px 20px 20px 20px;
    }
    .text4{
        text-align: center;
        font-family: Georgia, 'Times New Roman', Times, serif;
        text-decoration: underline blue;
        
    }
    .sektion6{
        text-align: center;
        background-color: lightblue;
        font-size: 15px;
        color:white;
    }
    .btn{
        margin-left: 67%;
        
    }
    .slut{
        text-align: center;
        font-size: 10px;
        background-color: rgb(110, 168, 187);
        color:white;
        
    
    }