/* .border {
    
    border: 1px solid rgb(214, 40, 40);
}
.container {
    padding-right: 10px;
    padding-left: 10px;
   
    margin-left:10px;
    margin-right: 10px;

} */
@media (min-width: 576px){

}
@media (min-width: 768px) {
    
    }
}
@media (min-width: 992px) {
    
    }
}
@media (min-width: 1400px) {
    
    }
}