*{
    box-sizing: border-box; 
}
html, body{
    font-weight: 400;
    font-size: 1.2rem;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(182, 46, 114);
    background: #d698d6;
    line-height: 1.5;
    
}
.container {
    background-color: seagreen !important;
   padding:200px;
   margin: 50px 40px 40px 50px;
   width: 2000px;
    height: 200px;
    background-image: url("star.jpg");
    background-repeat: no-repeat;
    background-position: center;

}
    
.kommentar {
    font-size: 1.5em;
    text-align: center;
    margin: 30px 30px 10px 10px;
    border: 1px solid darkslateblue;
    padding: 10px 10px 10px 10px;
}
.igress {
    text-align: center;
    font-size: 1em;
    margin: 30px 30px 10px 10px;
    
}

.box {
    
        text-align: center;
    
}
#parent {
    align-items: center;
    
    border:4px solid seagreen;
    height: 10vh;
    display: flex;
    color: darkslateblue;
    justify-content: center;
    justify-content: space-evenly;
}
#child-1 {
    flex:1;
    color: seagreen;
}
#child-2{
    flex:1;
}
#child-3 {
    flex:1;
    color: seagreen;
}