*{@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap');
   font-family: 'Roboto', sans-serif;font-family: 'Roboto', sans-serif;
}
.container{
    width: 1170px;
    padding-left: 0%;
    padding-right: 0%;
    padding-top: 0%;
    padding-bottom: 0%;
}
#backgrund{
    
    position: absolute;
    top: 0px;
    right: -30px;
    z-index:-10;
}
/* navbar */
.navbar{
    padding-top: 40px;
    padding-bottom: 35px;
    font-size: 17px;
    font-weight: 600;
    color: black;
    
}
a.nav-link{
    padding:6px 0px 0px 0px;
    margin-left:25px ;
    margin-right: 25px;
    color: black;
}
.navbar button{
    background-color: transparent;
    height: 42px;
    width: 139px;
    border-radius: 7px;
    padding: 0%;
    margin-right: 0%;
}
.navbar i{
    display: flex;
    align-self: center;
    margin-right: 30px;
    margin-left: 5px;
}

/* showcase */
#showcase{
    height: 850px;
}